<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="box">
            <div class="login-box" th:if="${resultMsg.success}">
                <div class="title">Login</div>
                <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm">
                    <input type="hidden" th:value="${resultMsg.toJson()}" id="loginMsg"/>
                    <input type="hidden" th:value="${hasLogin}" id="hasLogin" />
                    <el-form-item prop="username">
                        <el-input v-model="loginForm.username" clearable prefix-icon="el-icon-user"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input v-model="loginForm.password" show-password prefix-icon="el-icon-lock"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('loginForm')" class="full-btn">登录</el-button>
                    </el-form-item>
                </el-form>
                <div class="auth-info">使用你的账号登录<span class="text">{{loginMsg.clientName}}</span></div>
            </div>
            <div th:unless="${resultMsg.success}" class="error">
                <div>对第三方应用进行授权时出现错误</div>
                <div>错误码：<span th:text="${resultMsg.code}"></span></div>
                <div>信息：<span th:text="${resultMsg.message}"></span></div>
            </div>

            <div class="auth-box display">
                <p>应用<span class="text">{{loginMsg.clientName}}</span>请求授权</p>
                <div>将允许<span class="text">{{loginMsg.clientName}}</span>进行以下操作：</div>
                <div>获得你的所有信息</div>
                <div class="auth-btn">
                    <el-button type="primary" size="small" @click="agree">同意</el-button>
                    <el-button size="small" @click="reject">取消</el-button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    new Vue({
        el: "#app",
        data() {
            return {
                loginForm: {
                    username: '',
                    password: ''
                },
                loginMsg: {},
                rules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 3, max: 5, message: '长度在 3 到 10 个字符', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur'}
                    ],
                }
            }
        },
        mounted() {
            var element = document.getElementById("loginMsg");
            if(element){
                var loginMsg = element.value;
                this.loginMsg = JSON.parse(loginMsg);

                var hasLogin = document.getElementById("hasLogin").value;
                if(hasLogin === "true"){
                    this.showAuthBox();
                }
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if(valid){
                        var that = this;
                        fetch('/oauth2/authorize',{
                            method:'POST',
                            body: JSON.stringify(that.loginForm),
                            headers:{
                                'Content-Type': 'application/json'
                            }
                        }).then(res => res.json()).then(res => {
                            if(!res.success){
                                that.$message.error(res.message);
                                return false;
                            }
                            that.showAuthBox();
                        });
                    }else{
                        return false;
                    }
                });
            },
            agree(){
                var that = this;
                fetch('/oauth2/agree', {
                    method: 'POST',
                    body: JSON.stringify(that.loginMsg.authorizationInfo),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json()).then(res => {
                    if(!res.success){
                        that.$message.error(res.message); return;
                    }
                    window.location.href = res.data;
                });
            },
            reject(){
                window.location.href = this.loginMsg.authorizationInfo.redirect_uri;
            },
            showAuthBox(){
                var box = document.querySelector(".box");
                var loginBox = document.querySelector(".login-box");
                var authBox = document.querySelector(".auth-box");
                box.removeChild(loginBox);
                authBox.setAttribute('class','auth-box');
            }
        }
    });
</script>
</body>
</html>